<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container pt-5" id="app">
    <div class="row mb-3">
        <div class="col">
            <h1>Cars application</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="search">Find your car</label>
                <input 
                    type="text" 
                    class="fomr-control" 
                    id="search" 
                    placeholder="Name, model..."
                    v-model="search" >
            </div>
            <hr>
            <ul class="list-group">
                <li v-for="(car, index) of filteredCars" 
                class="list-group-item list-group-item-action pointer"
                v-on:click="selectCar(index)"
                v-bind:class="{'active': selectedCarIndex === index}">
                    {{ car.name }} - {{ car.model }}
                    <!-- Интерполяция -->
                </li>
            </ul>
        </div>
        
        <div class="col-md-8 pt-3">
            <div class="row">
                <div class="col-md-5">
                    <h2>{{ car.name }}</h2>
                    <img 
                        class="rounded detailed-car-image"
                        v-bind:src="car.image" :alt="car.image">
                </div>
                <div class="col-md-7 pt-2">
                    <h5>Car details</h5>
                    <ul>
                        <li>Model - <strong> {{ car.model }} </strong></li>
                        <li>Year - <strong> {{ car.year }} </strong></li>
                        <li>Owner - <strong> {{ car.owner }} </strong></li>
                    </ul>
                    <div class="phone-block">
                        <p v-if="phoneVisibility"> {{ car.phone }} </p>
                    </div>
                    <button class="btn btn-outline-success mar-right" 
                    @click="phoneVisibility = !phoneVisibility">{{ phoneBtnText }}</button>
                    <button class="btn btn-primary" @click="modalVisibility = true">Buy</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3" v-if="logs.length !== 0">
        <div class="col-md-12">
            <ul class="list-group">
                <li 
                    v-for="log in logs"
                    class="list-group-item list-group-item-secondary"
                    :class="{
                        'list-group-item-secondary' : log.type === 'ok'
                    }">
                    {{ log.text }} {{ log.date | date }}
                </li>
            </ul>
        </div>
    </div>
    <div class="modal fade show" v-if="modalVisibility" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Do you want to buy this car?</h5>
                    <button type="button" 
                        class="btn-close" 
                        data-bs-dismiss="modal" 
                        aria-label="Close"
                        @click="modalVisibility = false"></button>
                </div>
                <div class="modal-body">
                    <p>Current car - <strong>{{car.name}}</strong></p>
                    <ul>
                        <li>Model - <strong> {{ car.model }} </strong></li>
                        <li>Year - <strong> {{ car.year }} </strong></li>
                        <li>Owner - <strong> {{ car.owner }} </strong></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" 
                        class="btn btn-primary"
                        @click="newOrder">
                        Buy
                    </button>
                    <button type="button" 
                        class="btn btn-secondary"
                        @click="modalVisibility = !modalVisibility"
                        data-bs-dismiss="modal"
                        @click="canselOrder">
                        Cansel
                    </button>
                </div>
            </div>
        </div>
    </div>
<div class="modal-backdrop fade show" v-if="modalVisibility"></div>
</div><!-- container -->
    <script src="bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <script src="main.js"></script>
</body>
</html>